.footer {
    background-color: #344b8e;
    color: #ffffff;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__link {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

.footer__link:hover {
    color: #30bae7;
    transition: 1s;
}
